@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;}


body {
    background: rgba(0, 0, 0, 0.84);
    text-align: center;
    font-size: 20px;
}

.headerTitle {
    color: white;
    padding: 2em 9em;
    font-size: 45px;
}

.questionario {
    color: white;
    margin: 10em 25% 0 25%;
    padding: 2em 7em;
    background: #CA7900;
    border-radius: 25px;      
}

button {
    border: 3px solid white;
    background-color: #CA7900;
    color: white;
    border-radius: 8px;
    padding: 0.5em 3em;
    margin: 2em 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #CA7900;
    padding: 1em 3em;
}

.ItenLink {
    display: inline-block;
    padding: 0 1em;
}

.carrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 0.75 em;
}

.questionarioTitle {
    margin-top: 3em;
}

.itensDisponiveis {
    display: flex;
    margin-top: 6em;
    justify-content: space-around;
    align-items: flex-end;
    
}


.itenList {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white    ;
    
} 

.itenList img {
    width: 50%;
    height: 50%;
    margin-bottom: 1em;
}
.questionarioImgIndex {
    width: 100px;
    position: absolute;
    top: 46%;
    left: 47%;

}
.questionarioImg {
    width: 100px;
    position: absolute;
    top: 27%;
    left: 47%;
}